<footer id="footer" class="bg-secondary">
    <div class="container text-light py-4">
      <div class="row text-center justify-content-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
      </div>
    </div>

    <div class="bg-dark text-center text-light p-3">
        © 2019 Copyright:
        <a href="#">CoursesApp</a>
    </div>
</footer>