.jumbotron{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
}

.img{
    max-width: 100%;
}

@media screen and (max-width: 768px){
    #topic{
        justify-content: center;
    }
}