.jumbotron{
    padding-top: 0;
    padding-bottom: 30px;

    .container{
        ul{
            list-style: none;
        
            li{
                a{
                    color: black;
                }
            }
        }
    }
}